* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
 }

 body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, white, rgb(60, 204, 170));
 }

.container {
    position: relative;
    width: 950px;
    height: 680px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.form-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}

.container.active .form-box {
    right: 50%;
}

.form-box.register {
    visibility: hidden;
}

.container.active .form-box.register {
    visibility: visible;
}

form {
    width: 100%;
}

.container h1 {
    font-size: 35px;
    margin: 20px 0;
}

.input-box {
    position:relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eeeded;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box input::placeholder {
    color: #a29e9e;
    font-weight: 400;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.forgot-link {
    position: relative;
    font-size: 14.5px;
    color: #333;
    text-decoration: none;
}

.forgot-link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: rgb(24, 189, 151);
    transition: 0.3s ease;
    transform: translateX(-50%);
}

.forgot-link:hover::before {
    width: 110%;
}

.btn {
    width: 60%;
    height: 48px;
    background: rgb(27, 211, 168);
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 60;
    transition: all 0.2 ease;
}

.btn:hover {
    background: rgb(26, 191, 153);
}

.container p {
    font-size: 14.5px;
    margin: 15px 0;
}

.social-icons a {
    display: inline-flex;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 30px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    margin: 0 8px;
    transition: all 0.2s ease-in;
}

.social-icons a:hover {
    border: 2px solid rgb(27, 211, 168);
    color: rgb(57, 217, 166);
    border-radius: 20px;
    transform: scale(1.12);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.toggle-box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.toggle-box::before {
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    border-radius: 200px;
    background-color: rgb(27, 211, 168);
    z-index: 2;
    transition: 1.8s ease-in-out;
    
}

.container.active .toggle-box::before {
    left: 50%;
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .6s ease-in-out;
}

.toggle-panel.toggle-left {
    left: 0;
    transition-delay: 1.2s;
}

.container.active .toggle-panel.toggle-left {
    left: -50%;
    transition-delay: .6s;
}

.toggle-panel.toggle-right {
    right: -50%;
    transition-delay: .6s;
}

.container.active .toggle-panel.toggle-right {
    right: 0;
    transition-delay: 1.2s;
}

.toggle-panel p {
    margin-bottom: 20px;
}

.toggle-panel .btn {
    width: 160px;
    height: 46px;
    background: transparent;
    border: 2px solid #fff;
    box-shadow: none;
    transition: all 0.3s ease;
}

.toggle-panel .btn:hover {
  background-color: white;
  color: #333;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}