<!DOCTYPE html> 
<html>
    <head>
        <title>Intern Dashboard</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='dashboardstyle.css') }}">
    </head>
    <body>
        <div class="container"></div>

        <nav class="nav-bar">
            <div class="brand">
                <img src="/static/images/shecan.jpg" alt="Logo" class="logo-img">
                <span class="logo">She Can <br>Foundation</span>
            </div>  
            <ul class="nav-links">
                <li> <a href="#">HOME</a> </li>
                <li> <a href="#">ABOUT</a> </li>
                <li> <a href="#">SERVICES</a> </li>
                <li> <a href="#">CONTACT</a> </li>
            </ul>
        </nav>
            <h2>Inter Dashboard</h2>
            <p></p>
    </body>
</html>